header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.161);
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 250px;
}

.brand-logo {
    width: 200px;
}